.search {
    display: flex;
    width: 960px;
    height: 500px;
    color: white;

    .leftContainer {
        border: 2px solid #415963;
        border-radius: 10px;
        margin-right: 5px;
        padding: 5px;
        flex: 1;
        overflow: auto;
        font-size: 15px;

        .searchInput {
            background-color: whitesmoke;
            border: 2px solid #ffafa2;
            color:#242731;
            padding: 2px;
            border-radius: 2px;
            font-family: inherit;
        }

        .searchButton {
            background-color: transparent;
            border: 2px solid #ffafa2;
            color: black;
            padding: 2px;
            border-radius: 1px;
            margin-left: 8px;
            font-family: inherit;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.5s ease;

            &:hover {
                color: red;
                transition: all 0.1s ease;
            }
        }

        .searchResults {

            .searchResultsItem{

                &:hover {
                    color: red;
                    cursor: pointer;
                }
            }
        }
    }

    .rightContainer {
        border: 2px solid #415963;
        border-radius: 10px;
        padding: 5px;
        flex: 1;
        margin-right: 5px;
        align-items: center;

        .amountButton {
            background-color: transparent;
            border: 2px solid #ffafa2;
            color: black;
            padding: 2px;
            border-radius: 1px;
            margin-left: 8px;
            font-family: inherit;
            font-weight: 600;
            cursor: pointer;

            &:hover {
                color: red;
            }
        }

        .amountInput {
            background-color: whitesmoke;
            border: 2px solid #ffafa2;
            color:#242731;
            padding: 2px;
            border-radius: 1px;
            font-family: inherit;
        }

        .productInfo {
            margin-left: 10px;

            .productInfoTable {
                font-size: 15px;
                text-align: left;

                caption {
                    text-align: left;
                    font-size: 15px;
                }

                td {
                    text-align: right;
                }
            }

            h2 {
                font-size: 20px;
            }     
        }
    }
}